<span>
    <h3 style="padding-top: 20px;"> ShopForHome Admin Page - Order Management</h3>
  </span>
  <mat-toolbar color="primary">
    
    <div class="button-row">
      <button mat-button (click)="goToOrders()">Manage Orders</button>
      <button mat-button (click)="goToUsers()">Manage Users</button>
      <button mat-button (click)="goToProducts()">Manage Products</button>
      <button mat-button (click)="goToDiscounts()">Manage Discounts</button>
      <button mat-button (click)="goToReport()">Sales Report</button>
      <button mat-button color="warn" (click)="logout()">Logout</button>
  
    </div>
  </mat-toolbar>

  <button mat-raised-button color="primary" (click)="toggleForm()" className="raised">
    {{ isFormVisible ? 'Hide Form' : 'Show Form' }}
  </button>
  <div class="order-creation-form" *ngIf="isFormVisible">
    <form (ngSubmit)="addOrd()">
      <mat-form-field appearance="fill">
        <mat-label>ID</mat-label>
        <input matInput [(ngModel)]="newOrd.id" name="id" required>
      </mat-form-field>
      <mat-form-field  appearance="fill">
        <mat-label>User Id</mat-label>
        <input matInput [(ngModel)]="newOrd.login.id" name="id" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Product Id</mat-label>
        <input matInput [(ngModel)]="newOrd.product.id" name="productId" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Quantity</mat-label>
        <input matInput [(ngModel)]="newOrd.quantity" name="quantity" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Total Price</mat-label>
        <input matInput [(ngModel)]="newOrd.totalPrice" name="totalPrice" required>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Add Order</button>
  
    </form>
  </div>

  <mat-form-field appearance="fill">
    <mat-label>Search by product id</mat-label>
    <input matInput (input)="applyFilter($event)" placeholder="Type to search">
  </mat-form-field>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
  
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let ord">{{ ord.id }}</td>
      </ng-container>
  
      <!-- product id Column -->
      <ng-container matColumnDef="productid">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Product id</th>
        <td mat-cell *matCellDef="let ord">{{ ord.product.id }}</td>
      </ng-container>

      <!-- product id Column -->
      <ng-container matColumnDef="userid">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>User Id</th>
        <td mat-cell *matCellDef="let ord">{{ ord.user.id }}</td>
      </ng-container>

     

      <!-- name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let ord">{{ ord.product.name }}</td>
      </ng-container>

  
      <!-- quantity Column -->
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Quantity</th>
        <td mat-cell *matCellDef="let ord">{{ ord.quantity}}</td>
      </ng-container>
  
      <!-- price Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
        <td mat-cell *matCellDef="let ord">{{ ord.totalPrice }}</td>
      </ng-container>
  
  
      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let ord">
         <button mat-button (click)="editOrd(ord, ord.user.id)">Edit</button>
          <button mat-button color="warn" (click)="deleteOrd(ord, ord.user)">Delete</button>
        </td>
      </ng-container>
      
  
      <!-- Header and Row Definitions -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>