<span>
  <h3 style="padding-top: 20px;"> ShopForHome Admin Page - User Management</h3>
</span>
<mat-toolbar color="primary">
  
  <div class="button-row">
    <!-- <button mat-button (click)="goToOrders()">Manage Orders</button>-->
    
    <button mat-button (click)="goToUsers()">Manage Users</button>
    <button mat-button (click)="goToProducts()">Manage Products</button>
    <button mat-button (click)="goToDiscounts()">Manage Discounts</button>
    <button mat-button (click)="goToReport()">Sales Report</button>
    <button mat-button color="warn" (click)="logout()">Logout</button>

  </div>
</mat-toolbar>

<button mat-raised-button color="primary" (click)="toggleForm()" className="raised">
  {{ isFormVisible ? 'Hide Form' : 'Show Form' }}
</button>
<div class="user-creation-form" *ngIf="isFormVisible">
  <form (ngSubmit)="addUser()">
    <mat-form-field appearance="fill" *ngIf="!userToEdit">
      <mat-label>ID</mat-label>
      <input matInput [(ngModel)]="newUser.id" name="id" required>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput [(ngModel)]="newUser.username" name="username" required>
    </mat-form-field>
    <mat-form-field appearance="fill" *ngIf="!userToEdit">
      <mat-label>Password</mat-label>
      <input matInput [(ngModel)]="newUser.password" name="password" required>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Add User</button>

  </form>
</div>

<mat-form-field appearance="fill">
  <mat-label>Search by username</mat-label>
  <input matInput (input)="applyFilter($event)" placeholder="Type to search">
</mat-form-field>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let user">{{ user.id }}</td>
    </ng-container>

    <!-- username Column -->
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
      <td mat-cell *matCellDef="let user">{{ user.username }}</td>
    </ng-container>

    <!-- password Column <ng-container matColumnDef="password">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Password</th>
      <td mat-cell *matCellDef="let user">{{ user.password }}</td>
    </ng-container>-->
    

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let user"> 
        <button mat-button [disabled]="isDeleteDisabled(user)" (click)="editUser(user)">Edit</button>
        <button mat-button color="warn" [disabled]="isDeleteDisabled(user)" (click)="deleteUser(user, user.id)">Delete</button>
      </td>
    </ng-container>

    <!-- Header and Row Definitions -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>