<span>
  <h3 style="padding-top: 20px;"> ShopForHome Admin Page - Discount Management</h3>
</span>
<mat-toolbar color="primary">
  
  <div class="button-row">
    <button mat-button (click)="goToUsers()">Manage Users</button>
    <button mat-button (click)="goToProducts()">Manage Products</button>
    <button mat-button (click)="goToDiscounts()">Manage Discounts</button>
    <button mat-button (click)="goToReport()">Sales Report</button>
    <button mat-button color="warn" (click)="logout()">Logout</button>

  </div>
</mat-toolbar>
  


<button mat-raised-button color="primary" (click)="toggleForm()" className="raised">
  {{ isFormVisible ? 'Hide Form' : 'Show Form' }}
</button>
<div class="disc-creation-form" *ngIf="isFormVisible">
  <form (ngSubmit)="addDiscount()">
    <mat-form-field appearance="fill">
      <mat-label>ID</mat-label>
      <input matInput [(ngModel)]="newDis.id" name="id" required>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Discount</mat-label>
      <input matInput [(ngModel)]="newDis.discount" name="discount" required>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Product Id</mat-label>
      <input matInput [(ngModel)]="newDis.product.id" name="productId" required>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Add Discount</button>

  </form>
</div>
<mat-form-field appearance="fill">
  <mat-label>Search by product id</mat-label>
  <input matInput (input)="applyFilter($event)" placeholder="Type to search">
</mat-form-field>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let dis">{{ dis.id }}</td>
    </ng-container>

    <!-- Discount Column -->
    <ng-container matColumnDef="discount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Discount</th>
      <td mat-cell *matCellDef="let dis">{{ dis.discount }}</td>
    </ng-container>

    <!-- Product Id Column -->
    <ng-container matColumnDef="productId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Product Id</th>
      <td mat-cell *matCellDef="let dis">{{ dis.product.id }}</td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let dis"> 
        <button mat-button (click)="editDiscount(dis)">Edit</button>
        <button mat-button color="warn" (click)="deleteDiscount(dis.id, dis)">Delete</button>
      </td>
    </ng-container>

    <!-- Header and Row Definitions -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>