/* Styles for the button row container */
.button-row {
    display: flex;
    justify-content: center; /* Center the buttons horizontally */
    gap: 8px; /* Space between buttons */
    padding: 10px; /* Padding around the button row */
  }
  
  
  .button-row button {
    margin: 0;
    padding: 8px 16px; /* Adjust padding to your needs */
    border-radius: 4px; /* Rounded corners, if desired */
    font-size: 14px; 
  }
.admin {
  display: flex;
  justify-content: center;
}